/*

Typography
=========
-font sizes
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98

-font weights
Default 400
500 600 700


-line heights
Default: 1
1.05
1.6

- colors
Primary: #e67e22
tints: #fdf2e9
Shades  #cf711f;
Accents
Greys
#555
#333

-Shadow

-Border radius
9px

-whitespace

-Spacing system

10/12/14/16/18/20/24/30/36/44/52/62/74/86/98


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555; /*frequesntly used*/
}

/*
=====General comp
*/

.container {
  max-width: 120rem;
  margin: 0 10rem;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--align-center {
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.logo {
  height: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 2rem 4.8rem;
}

.subheading {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-secondary,
.heading-primary {
  font-weight: 700;
  color: #333;
  color: #2e1907;
  letter-spacing: -0.5;
  margin-bottom: 9.6rem;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  color: #333;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 700;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.padding-bottom-md {
  padding-bottom: 4.8rem !important;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  height: 3rem;
  width: 3rem;
  color: #cf711f;
}

.grid:not(:last-child) {
  padding-bottom: 8rem;
}

.grid--5-cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
}

.footer {
  padding: 9.6rem 0;
}

.diets .heading-tertiary {
  font-size: 1.8rem;
}

.diets .list-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.diets ul {
  font-size: 1.6rem;
}
